<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Gesnhin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">
    <img src="assets/genshin.png" width=30%>
  </p>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button [routerLink]="['/programme']" expand="full" fill="outline">
          <ion-icon slot="end" name="school-outline"></ion-icon>
          Character
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button [routerLink]="['/contact']" expand="full" fill="outline">
         <ion-icon slot="end" name="call-outline"></ion-icon>
         Contact
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary" class="ion-text-center">
  <ion-title>copyright @2021</ion-title>
</ion-toolbar>
</ion-footer>


