<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><b>Character</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Character</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card color="danger">
  <img src="../../assets/hutao.png" alt="ion">
  <ion-card-header>
    <ion-card-title><b>Hutao</b></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Hu Tao is a character in Genshin Impact that uses Pyro Polearm! See best builds, best team comp, weapons, artifacts, ratings, voice actor, ascension materials for Hu Tao!
  </ion-card-content>
  <video
  width="100%"
  controls="controls"
  preload="metadata"
  autoplay="autoplay"
  webkit-playsinline="webkit-playsinline"
  class="videoPlayer">
  <source src="assets/hutao.mp4" type="video/mp4" />
  </video>
</ion-card>
