<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Berita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Berita</ion-title>
    </ion-toolbar>
  </ion-header>

 <div id="container">
   <ion-card>
   <ion-card-header>
     <ion-card-title>Aiman Duta Mobile Legends</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <img src="assets/aiman2.PNG"/>
     <p>Aiman bangga menjadi duta mobile legends Malaysia</p>
   </ion-card-content>
   </ion-card>
 </div>
</ion-content>